{% extends "layout.html.twig" %}

{% block body %}


    <div class="jumbotron">

        <div class="row">


            <div class="col-sm-12 " style="padding-bottom: 30%">


                </br><br> </br><br><h4>Hallo , you can reset your password by clicking in the below link , Kindly note that the link will be expired after changing your password!!</h4></br>

                <a href="http://localhost/web/app_dev.php/resetpassword/{{ email }}/{{ passwordKey }}" class="btn  btn-primary btn-lg" > click Here </a>


            </div>


        </div>

{% endblock %}

